<body>
  <div class="container">
  	<div class="copy-container">
  		<br>
  		<button type="button" class="btn btn-primary btn-lg btn-block">マイページ</button>
  		<h1 align="center">ようこそ！！<br>◯◯さん</h1>
  		<button type="button" class="btn btn-primary btn-lg btn-block">登録情報の編集</button>
  	</div>


  	<!-- ユーザー情報 -->
  	<br>
  	<table class="table table-bordered">

  		<colgroup span="1" width="20%"></colgroup>
  		<colgroup span="1" width="80%"></colgroup>

  		<thead>
  		</thead>

  		<tbody>
  			<tr align="center">
  				<td>名前</td>
  				<td>見本太郎</td>
  			</tr>
  			<tr align="center">
  				<td>名前（カナ）</td>
  				<td>ミホン　タロウ</td>
  			</tr>
  			<tr align="center">
  				<td>郵便番号</td>
  				<td>〒999-9999</td>
  			</tr>
  			<tr align="center">
  				<td>住所</td>
  				<td>東京都東京区東京1-1-1</td>
  			</tr>
  			<tr align="center">
  				<td>メールアドレス</td>
  				<td>mihon@gmail.com</td>
  			</tr>
  			<tr align="center">
  				<td>パスワード</td>
  				<td>❇︎❇︎❇︎❇︎</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</body>

  	<!-- 購入情報 -->
  	<!-- k-1の購入履歴をコピー -->

  	<br>
  	<button type="button" class="btn btn-danger btn-lg btn-block">退会</button>
