<div class = "container">
  <div class="top-box" id ="roop">
    <div class="top-back">
      <h1 class="top-title">~Alps-Record~</h1>
      <p class="top-text">
        Alps Record. I have enjoyed music with a lot of people since I first started this name.
        The times go on. The music I want to hear during youth is also said to be "old song" by young children.
        But music has lived for decades and hundreds of years in this world where we were gone. I would like young people to listen to such precious beautiful music this time.
        Music can be heard by convenient things such as smartphones nowadays. I do not deny that. However, I want you to listen to the culture of CD to the present young child, and to feel the charm. I launched this site with such thoughts.<br>
        <%= link_to "新規登録",new_user_registration_path, class: "btn-circle-fishy" %>
        <%= link_to "ログイン",new_user_session_path, class: "btn-circle-fishy"  %>
        <%= link_to "商品一覧",goods_path, class: "btn-circle-fishy"  %>
    </p>
    </div>
  </div>
</div>