

<div class = "container">
  <!-- 退会している人に対してメッセージを出す -->
  <% if current_user == nil %>
    <!-- 処理をしません -->

  <!-- ログインしている場合 -->
  <% else %>
    <!-- 退会している場合 -->
    <% if current_user.resignation_flag == 1 %>
      <h2>このユーザーは退会されています。新規にユーザーを作成してください。</h2>
    <!-- 退会していない場合 -->
    <% else %>
      <!-- 処理をしません -->
    <% end %>
  <% end %>


  <div class="top-box" style="border:solid 1px; border-radius: 7px;">
    <h1 style="text-align: center;">アルプスレコード</h1>
    <p style="text-align: center;">
    長野の店長メッセージが入ります
    バックは背景画像を使用します。
    </p>
  </div>
   <div class="row">
    <%= link_to "新規登録",new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1" %>
  </div>
  <div class="row">
  	<%= link_to "ログイン",new_user_session_path %>
  </div>
  <div class= "row">
  <%= link_to "商品一覧ページ",goods_path %>
  </div>
  <div class="box" style="height: 1000px;">
  </div>
</div>