
<div class="containar">
  <div class="row">
  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>アーティスト名</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>

  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>シングル・アルバム名</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>

  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>ジャケット画像</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>

  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>価格（税別価格）</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>

  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>レーベル名</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>
  </div>

  <div class="row">
  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>ディスク内の曲</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	　<div class="d-flex justify-content-center">
  		<button type="button" class="btn btn-primary">曲を追加</button>
  	　</div>
    </div>
  </div>

  <br>

  <div class="row">
  	<div class="col-md-2">
  		<div class="d-flex justify-content-center">
  			<p>在庫数</p>
  		</div>
  	</div>
  	<div class="col-md-10">
  		<p><input type="text" name="title" size="100"></p>
  	</div>
  </div>
  <button class="btn btn-primary btn-block">更新</button>
</div>