<div class="title">
	<h1>商品一覧</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
			<thead>
				<colgroup span="1" style="width:10%;">
				<colgroup span="2" style="width:20%;">

			<div class="row">
					<th></th>
					<th>アーティスト名</th>
					<th>シングル/アルバム名</th>
			</div>
				
			</thead>
			
			<%# <% @goods.each do |good| % %>
			<tbody>
				<td><%#<%= good.jacket_image % %>no_image.jpg</td>
				<td><%#<%= good.artist % %>見本太郎</td>
				<td><%#<%= good.goods_title %>赤の薔薇たち</td>
			</tbody>
			</table>
		</div>
		
		  <button type="button" class="btn btn-primary mx-auto">
 			<%#<%= link_to "戻る", %>戻る
 		  </button>
 		
	</div>
</div>
 