<h1>Goods#index</h1>
<%= flash[:notice] %>
<div class="container">
  <div class="row">
  	<form class="col-lg-2">
      <div class="form-group">
        <label class="control-label">商品名</label>
        <input class="form-control" type="text">
      </div>
  	  <button type="button" class="btn btn-default">検索</button>
    </form>
  </div>
  <div class="col-lg-3" style= "height: 250px; border:solid 1px; margin-top:30px;">
  	<p style="line-height:250px; float: left">ジャケット</p>
<<<<<<< HEAD
  	<p style="padding:10px 10px 10px 40px; float: left; line-height:43px;">
=======
  	<p style="padding: 10px 10px 10px 36px;float: left; line-height:43px;">
>>>>>>> df7e61d7dbc9bfefd1b877a565d34a5f80459f0a
  		商品名<br>
  		アーティスト名<br>
  		CD(アルバム)<br>
  		金額　0円<br>
  		在庫あり<br>
  </div>
</div>

